.contentHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    background-color: #ffffff;
    /* color: #fff; */
}
.infHeader h2{
    margin-bottom: 1px;
    text-transform: uppercase;
    color: #000000;

}
.infHeader i{
    font-size: 12px;
}